.detalle-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 20px;
  }
  
  .imagen-container {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .imagen-container img {
    max-width: 100%;
    max-height: 100%; /* Establece el máximo tanto para el ancho como para el alto */
    width: auto;
    height: auto;
    width: 100%; /* Para que la imagen ocupe todo el ancho del contenedor */
    max-height: 600px; /* Ajusta este valor según tu preferencia */
  }
  
 
  
  .descripcion-container {
    margin-bottom: 20px;
  }
  
  .detalle-derecha {
    margin-bottom: 20px;
  }
  
  .agregar-carrito-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: auto; /* Alinea el botón al final del contenedor */
    margin-left: auto; /* Ajusta la posición del botón hacia la izquierda */
  }
  
  .informacion-container {
    flex: 1;
    max-width: 50%;
    margin-left: 20px;
    display: flex;

    flex-direction: column; /* Asegura que los elementos estén en una columna */
  }
  
  
  .agregar-carrito-btn:hover {
    background-color: #0056b3;
  }
  