
.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.carrito-button {
  color: white; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Puntero en forma de mano */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrito-button:hover {
  background-color: #b30909; /* Color de fondo al pasar el ratón */
}

.carrito-button svg {
  font-size: 1.2em;
}
