.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Añadir margen inferior para separación */
}

.content-container {
  display: flex;
  flex: 1;
  padding: 20px;
}

.content-container.with-carrito {
  padding-right: 300px; /* Deja espacio para el carrito a la derecha */
}

.carrito-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: -2px 0px 5px rgba(0,0,0,0.1);
}
