.carrito-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
}

.carrito-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-carrito-button {
  border: none;
  font-size: 14px; /* Tamaño de fuente reducido */
  cursor: pointer;
  width: 30px; /* Anchura reducida */
  height: 30px; /* Altura reducida */
  padding: 0; /* Elimina el relleno */
  border-radius: 5px; /* Bordes redondeados */
}

.carrito-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detalles-item {
  margin-left: 10px;
}

.comprar-button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.divVisible {
  display: block;
}

.divInvisible {
  display: none;
}
